
{{- $choices := list "personal" "rpi" "openai" -}}
{{- $role := promptChoiceOnce . "role" "What type of role do you want" $choices -}}

data:
  name: "Fritz Kruger"
  email: {{ if eq $role "openai" }} "fritz@openai.com" {{ else }} "fritz_269@yahoo.com" {{ end }}
  role: {{- $role | quote -}}
