# -------- macOS‑specific tweaks -----
export PATH="/opt/homebrew/bin:$PATH"


# -------- Personal aliases ----------
source ~/.zsh_aliases-darwin


# -------- OAI specific --------------
{{- if eq .role "openai" }}
export SSH_AUTH_SOCK=/Users/fritz/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
  
  eval "$(am shell)"
  
  source ~/.zshrc-secrets
  export GIT_SSH_COMMAND="am keysign; ssh"
  eval $(python -m rcall.shell)
  #eval "$(bbb complete init zsh)"
  #source <(/Users/fritz/.openai/bin/brix completion zsh)
  
  # Added by Windsurf
  export PATH="/Users/fritz/.codeium/windsurf/bin:$PATH"
{{- end }}


# -------- personal specific --------------
{{- if eq .role "personal" }}
{{- end }}

# -------- IoT specific --------------
{{- if eq .role "rpi" }}
{{- end }}
