# -------- Linux‑specific tweaks -----
export PATH=$PATH:~/go/bin/

# -------- Personal aliases ----------
source ~/.bash_aliases


# -------- OAI specific --------------
{{- if .openai }}
{{- end }}

# -------- personal specific --------------
{{- if .personal }}
{{- end }}

# -------- IoT specific --------------
{{- if .iot }}
{{- end }}
